# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# NuGet packages
*.nupkg
**/packages/*
*.snupkg
*.nuspec

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# User-specific files
*.userprefs

# Temporary files
*.tmp
*.temp

# NUnit
TestResult.xml
*.TestResults
TestResults/